<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body { padding-top: 60px; padding-bottom:40px; }
  </style>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Reader</a>
	<ul class="nav">
	  <li><a class="" href="/readlater">Read later</a></li>
	</ul>
      </div>
    </div>
  </div>
  <div class="container">
    {% block body %}{% endblock %}
  </div>

</body>
</html>
