{% extends "base.html" %}

{% block head %}
<style>
#read-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#read-list li {
	padding: 10px 20px 10px 0;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

#read-list li:last-child {
	border-bottom: none;
}

#read-list .close {
	position: absolute;
	right: 5px;
	top: 10px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

#read-list li:hover .close{
  	display: block;
}

#read-list .mark-read {
	margin: 0 0;
}

#read-list .done a {
	color: #777777;
	text-decoration: line-through;
}

.center {
	margin: 0 auto !important;
	float: none !important;
}
</style>
{% endblock head %}

{% block body %}
<div class="container">
  <div class="span5 center">
    <ul id="read-list">
    </ul>
    <div class="pagination text-center center" id="paginator">
    </div>
    <div>
      Quickly add link to this list with following bookmarklet:
      <a class="btn btn-primary" href="{% spaceless %}
        {% include "add_readlater.js" %}
      {% endspaceless %}">Read it later</a>
    </div>
  </div>
</div>
{% endblock body %}

{% block endbody %}
<script type="text/template" id="item-template">
  <div class="<% if (readed) print('done') %>">
    <input class="mark-read" type="checkbox" <% if (readed) print('checked')%>>
    <a href="<%= url %>"><%= title %></a>
	  <button type="button" class="close">&times;</button>
  </div>
</script>
<script type="text/template" id="paginator-tmpl">
  <ul>
    <% if (page > 1) { %>
      <li><a href="#page/<%= page-1 %>">previous</a></li>
    <% } %>
    <% if (num_pages > 1) { %>
      <li><a href="#page/<%= page %>"><%= page %> of <%= num_pages %></a></li>
    <% } %>
    <% if (page < num_pages) { %>
      <li><a href="#page/<%= page+1 %>">next</a></li>
    <% } %>
  </ul>
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
<script src="{{ url_for('static', filename='readlater.js') }}"></script>
{% endblock endbody %}

