{% extends "base.html" %}

{% block head %}
<style>
  .link-box {
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    display: block;
    text-align: center;
  }
  .sites {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
  .site {
    width: 25%;
    vertical-align: top;
    float: left;
    margin-top: 2px;
  }
  .bookmarklet {
    margin: 30px auto;
    text-align: center;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container" style="text-align: center">
  <input type="text" id="search"></input>
</div>
<section class="sites">
{# {% for link in links %}
  <section class="site">
    <a class="link-box" href="{{ short_url(link.id) }}">{{ link.title }}</a>
  </section>
{% endfor %} #}
</section>

<div style="clear: both;"></div>
<div class="container bookmarklet">
  Quickly add link to this list with following bookmarklet:
<a class="btn btn-primary" href="{% spaceless %}
{% include "add_home.js" %}
{% endspaceless %}">Keep home</a>
</div>
{% endblock body %}

{% block endbody %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
<script>
 $(document).ready(function() {
   $('#search').keyup(function(){
     var term = $(this).val().toLowerCase();
     var $sites = $('.site');
     $sites.show().filter(function(){
       var text = $(this).find('.link-box').text().replace(/\s+/g, ' ').toLowerCase();
       return !~text.indexOf(term);
     }).hide();
   });
   $('#search').focus();
 });
</script>
{% endblock endbody %}
